body {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1;
}

.navbar {
  height: 5rem;
  background-color: white;
}

.fa-compass {
  color: #f3424d;
  font-size: 2rem;
}

.nav-link {
  font-weight: 600 !important;
  margin-right: 1rem;
  color: #222222 !important;
  position: relative !important;
}

.nav-link::after {
  content: "";
  width: 0;
  height: 3px;
  background: #f3424d;
  position: absolute;
  left: 8px;
  bottom: 3px;
  transition: 0.9s;
}

.nav-link:hover::after {
  width: 75%;
}

/* Footer */

.f-info-socials i {
  transition: 0.3s;
}

.f-info-socials i:hover {
  cursor: pointer;
  color: #f3424d;
  transform: translateY(-3px);
}

.f-info-links a {
  text-decoration: none;
  color: #222222;
}

.f-info-links a:hover {
  text-decoration: underline;
}

.f-info-links,
.f-info-socials,
.f-info-brand {
  width: 100%;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
}

.f-info-socials i {
  font-size: 1.2rem;
  margin-right: 2rem;
}

.f-info {
  text-align: center;
  display: flex;
  background-color: #ebebeb;
  height: 8rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-evenly;
}

/* Cards */

.card {
  border: none !important;
  border-radius: 1rem !important;
  margin-bottom: 2rem;
}

.card-img-top {
  border-radius: 1rem 1rem 0 0 !important;
  width: 100% !important;
  object-fit: cover !important;
}

.card-body {
  padding: 0 !important;
}

.card-text {
  padding-left: 7px;
  padding-bottom: 4px;
}

.card-text p {
  font-weight: 400 !important;
  /* color: #974141; */
}

.listing-link {
  text-decoration: none;
}

/* card effect */

.card {
  transition: 0.2s;
}

.card:hover {
  transform: translateY(-3px);
  box-shadow: 3px 5px 15px #646262;
}

.card-img-overlay {
  opacity: 0;
  border-radius: 1rem !important;
  transition: 0.5s;
}

.card-img-overlay:hover {
  opacity: 0.2;
  background-color: white;
  /* box-shadow: #817f7f 10px 16px; */
}

/* New Page */

.add-btn {
  background-color: #f3424d !important;
  border: none !important;
  transition: 0.4s ease !important;
}
.add-btn:hover {
  transform: scale(1.05);
}

/* Edit page */
.edit-btn {
  background-color: #f3424d !important;
  border: none !important;
  transition: 0.4s ease !important;
}
.edit-btn:hover {
  transform: scale(1.05);
}

/* Show Page */

.show-img {
  height: 30vh;
}

.btns {
  display: flex;
}

.edit-btn {
  background-color: #f3424d !important;
}

.delete-btn {
  background-color: #fc2230 !important;
  border: none !important;
  transition: 0.4s ease !important;
}
.delete-btn:hover {
  transform: scale(1.05);
}

.show-card {
  padding-left: 0;
  padding-right: 0;
}
